[submodule "Programas/SpringBoot-Java"]
	path = Programas/SpringBoot-Java
	url = https://github.com/Jajr16/SpringBoot-Java.git
[submodule "Programas/Saes_Sim"]
	path = Programas/Saes_Sim
	url = https://github.com/Jajr16/Saes_Simulador.git
